<div class="custom">
    <div class="header">Customer Information</div>
    <div class="card-body">
        <h6>Email Address :  {{var1['email']}}</h6>
        <h6>Account Number : {{acountdata['accNo']}}</h6>
        <h6>Account Balance : {{acountdata['balance']}}</h6>
        <h6>Network Provider : {{billerData['name']}}</h6>
        <h6>Consumer Number :{{billerData['consumerNumber']}}</h6>
        <h6>Bill Amount :{{billerData['billAmt']}}</h6>
        
    </div>

    <div class="submit">

    <input type="submit" class="btn btn-primary btn-login text-uppercase fw-bold" value="Pay Bill">

</div>



</div>
